<h1 id="title">Formulário</h1>

<div class="formulario">
    <form action="/data" method="POST">
        <label for="text">Título: </label>
        <input type="text" id="titulo" name="titulo" required>
        <label id="conteudo" for="text">conteúdo:</label>
        <textarea name="conteudo" id="conteudo" required></textarea>
        <button id="enviar" type="submit">Enviar</button>
    </form>
</div>

<footer>
    <p>© Erick Teixeira</p>
</footer>