<h1 id="listaPost">Lista de Posts:</h1>

{{#each posts}}
<div class="result">
    <p id="titleP">{{dataValues.titulo}}</p>
    <p id="contentP">{{dataValues.conteudo}}</p>
    <a href="/deletar/{{dataValues.id}}"><button id="deletar">Deletar</button></a>
    <small>{{dataValues.createdAt}}</small>
    <hr>
</div>
{{/each}}